.dashboardComponent {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.dashletContainer {
  margin: 10px;
}

.dashletContainer__large {
  width: 100%;
  height: 350px;
}

.dashletContainer__medium {
  flex: 1;
  max-height: 300px;
  max-width: 300px;
  min-height: 250px;
  min-width: 250px;
}

.dashletContainer__small {
  width: calc(33.3% - 20px);
  max-height: 150px;
}

.dashlet__card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.dashlet__card-header {
  display: flex;
  justify-content: space-between;
  flex: none;
  position: absolute;
}

@media (max-width: 450px) {
  .dashlet__card-title,
  .dashlet__card-date,
  .dashlet__card-description {
    font-size: 0.8em;
  }
}

.dashlet__card-date {
  text-align: right;
}

.dashlet__chart {
  flex: 1 1 100%;
  height: 100%;
}

.chart__donut-overall {
  stroke: rgb(0,120,185);
}

.chart__donut-remainder {
  stroke: rgb(220,220,220);
}

.chart__donut-label {
  font-size: 1.5em;
  stroke: rgb(0,120,185);
  fill: rgb(0,120,185);
}

.ct-label.dashlet__chart-label {
  font-size: 0.65em;
}

.ct-point.dashlet__chart-point {
  stroke: #dddddd;
}
.ct-line.dashlet__chart-line {
  stroke: rgb(0,120,185);
  stroke-width: 2px;
}
.ct-area.dashlet__chart-area {
  fill: rgb(0,120,185);
  fill-opacity: 0.5;
}

.chart__point-label {
  font-size: 0.75em;
  fill: #0078b9;
}
