{
  parser: "babel-eslint",
  extends: "airbnb",
  rules: {
    import/first: [2, {absolute-first: false}]
  },
  # uses 'eslint-import-resolver-webpack':
  settings: {
    import/resolver: webpack
  },
  "env": {
    "browser": true
  },
  "globals": {
    "document": true
  },
  "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
}
