.reportingComponent {
  background-color: #ddd;
}

.reportContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.reportHeader {
  display: flex;
  align-items: center;
  margin: 10px 15px 0 15px;
}

.reportTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 15px;
}

.reportTitle__label {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.baseControlSet {
  align-self: flex-end;
  position: relative;
  margin: 0 10px;
}
.baseControlSet > label {
  margin: 0;
  font-weight: inherit;
}

.filterButton {
  position: absolute;
  top: 0;
  right: 0;
}

.filterMenuGroup > .firstMenuDivider {
  border-top: none !important;
}
.filterMenuGroup > .pt-menu-header:first-of-type {
  border-top: 1px solid rgb(16, 22, 26);
  border-top: 1px solid rgba(16, 22, 26, 0.15);
}

.filterMenuGroup > .pt-menu-header > h6 {
  padding: 10px 7px 0 1px;
  font-size: 1em;
}
.filterMenuGroup > .firstMenuDivider > h6 {
  padding-top: 0;
}

.pt-submenu > .pt-popover-content > .pt-menu {
  max-height: 200px;
  overflow-y: auto;
}

.reportToolbar {
  margin-left: auto;
}
.exportTooltipWrapper > .reportToolbar__button::before {
  font-size: 1.5em;
}

.configPanel {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  background-color: #f7f7f7;
  border: 2px solid #fff;
  margin: 0 15px;
}

.configPanel__controlset {
  margin: 10px;
  padding: 5px;
}

.configPanel__controlset > .pt-label > .pt-popover-target {
  display: inherit;
}

.configPanel__controlset > .pt-label > .pt-popover-target > .pt-control-group {
  flex-direction: column;
}

.form-control-container {
  display: inline-block;
  width: 100px;
}

.form-control-container > input {
  padding: 0 10px !important;
}

.reportElement{
  margin: 15px;
  background-color: #f7f7f7;
  border: 2px solid #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.reportChart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.reportChart > .pt-popover-target {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.reportChart__container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.reportTable {
  padding: 10px 10px 0 10px;
}
.reportTable__header {
  margin: 5px;
}
.reportTable__footer {
  padding: 5px;
}
.reportTable__controlPanel {
  display: flex;
  justify-content: space-between;
}
.reportTable__footer > .pagination {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex: 2;
}
.reportTable__footer > .pagination > li > a,
.reportTable__footer > .pagination > li > span {
  padding: 0 10px;
}

.recordLabel {
  font-size: 0.9em;
  flex: 1;
}
@media (max-width: 550px) {
  .recordLabel {
    font-size: 0.65em;
  }
  .reportTable__footer > .pagination {
    flex: 3;
  }
  .reportTable__footer > .pagination > li > a,
  .reportTable__footer > .pagination > li > span {
    padding: 0 3px;
  }
}
