.reportingComponent {
  background-color: #ddd;
}

.reportContainer {
    height: 100%;
    display: flex;
    flex-flow: column;
    flex: 1;
}

.reportHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 15px 10px 15px;
}

.reportTitle {
  display: flex;
  justify-content: flex-start;
}

.reportTitle__label {
  font-size: 1.5em;
}

.reportToolbar__button {
  font-size: 1.5em;
}

.configPanel {
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f7;
  border: 2px solid #fff;
  margin: 0 15px;
}

.configPanel__controlset {
  margin: 10px;
  padding: 5px;
}

.form-control-container > input {
  height: 34px;
  width: 125px;
}


.reportElement{
  margin: 15px;
  padding: 10px 10px 0 10px;
  background-color: #f7f7f7;
  border: 2px solid #fff;
  flex: 1;
  display: flex;
  flex-flow: column;
}

.reportTable__controlPanel {
  display: flex;
  justify-content: space-between;
}
.reportTable__header {
  margin: 5px;
}
.reportTable__footer {
  padding: 5px;
}
.reportTable__footer > .pagination {
  margin: 0;
}
.reportTable__footer > .pagination > li > a,
.reportTable__footer > .pagination > li > span {
  padding: 0 10px;
}
