.spaceExplorer__list {
  height: 35%;
  min-height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spaceExplorer__item {
  margin: 15px;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

.spaceLink, .spaceLink:active, .spaceLink:visited {
  color: #555;
}
.spaceLink:hover {
  color: #06a1f5;
}

.spaceLinkActive, .spaceLinkActive:active, .spaceLinkActive:visited {
  color: #0078b9;
}
