.spaceExplorer__container {
  display: inline-block;
  vertical-align: top;
}

.spaceExplorer {
  /* subtract the text-size, the padding, and the border size from the total height */
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(247,247,247);
  border-right: 4px solid rgb(255,255,255);
  border-right: 4px solid rgba(255,255,255,0.8);
}

.spaceExplorer__list {
  height: 35%;
  min-height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spaceExplorer__item {
  margin: 15px;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

.spaceLink, .spaceLink:active, .spaceLink:visited {
  color: #555;
}
.spaceLink:hover {
  color: #06a1f5;
}

.spaceLinkActive, .spaceLinkActive:active, .spaceLinkActive:visited {
  color: #0078b9;
}
