
.titleBar__logo {
  width: 160px;
  height: 40px;
  background-image: url("~!file-loader!media/TC_Web_Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 550px) {
  .titleBar__logo {
    width: 100px;
    height: 25px;
  }
}

.titleBar__label {
  padding: 15px;
}

.titleBar__text {
  font-size: 1.7em;
}

.titleBar__log-out {
  margin-left: auto;
  padding: 10px;
  font-size: 1.25em;
}

.titleBar__log-out > .log-out__icon:before {
  font-size: 1.7em;
}
