
.titleBar__logo {
  width: 40px;
  height: 40px;
  margin: 10px 10px;
  background-image: url("~!file!media/triadcare_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.titleBar__label {
  padding: 15px;
}

.titleBar__text {
  font-size: 1.7em;
}

.titleBar__log-out {
  margin-left: auto;
  padding: 10px;
  font-size: 1.25em;
}

.titleBar__log-out > .log-out__icon:before {
  font-size: 1.7em;
}
