body
{
}

.container
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.hra_top_bar
{
	line-height: 70px;
}

.form-container
{
	background-color: gray;
	padding: 15px;
}

.question-text
{
	text-align: left;
	text-shadow: none;
}

.mc_answer_area
{
	text-align: left;
	color: black;
	text-shadow: none;
}

.question_grid
{
	
}

.grid_cell
{
	text-align: center;
}

.grid_radio
{
	
}

.input_number
{
	
}

input.grid_text[type="textarea"]
{
	text-align: left;
}

.mc_radio
{
	font-size: 12px;
}

.mc_text
{
	font-size: 0.85em;
}

/* Custom default button */
.btn-default
{
  text-shadow: none; /* Prevent inheritence from `body` */
  border: 1px solid rgb(0,120,185);
  background-color: rgb(0,120,185);
}
.btn-default:hover
{
	background-color: rgb(0,120,185);
	border-color: rgb(0,120,185);
}

.hra-submit, .hra-submit:hover
{
	color: #fff;
}

.btn > a
{
	color: #fff;
}

.tc-heading
{
    position: absolute;
    right: 10px;
}


/* Results Dashboard Styling */
#hra_results_title
{
	float: left;
    font-size: 24px;
}
@media (max-width: 475px)
{
	#hra_results_title
	{
		font-size: 17px;
		margin-top: 15px;
		width: 160px;
		line-height: 16pt;
	}
}

.hra_results_navbar
{
	background-color: rgb(247,247,247);
    line-height: 70px;
    border-bottom: 2px solid rgba(255,255,255,0.8);
}

#nav_bar_spacer
{
	width:100%;
	height: 70px; /* Height of the bootstrap navbar */
}

.centered
{
	margin-left: auto;
    margin-right: auto;
}

.chart_container
{
	margin-top: 15px;
	margin-bottom: 15px;
}

#chart_legend
{
	margin-top: -10px;
}
.legend_label
{
	font-size: 0.7em;
	display: inline-block;
	margin-right: 10px;
}
.legend_key
{
	width: 10px;
	height: 10px;
	display: inline-block;
}
#user_score_key
{
	border: 1px solid rgba(151,187,205,0.8);
	background-color: rgba(151,187,205,0.5);
}
#user_score_label
{
}
#tc_score_key
{
	border: 1px solid rgba(180,180,180,0.8);
	background-color: rgba(180,180,180,0.5);
}
#tc_score_label
{
}

.graph_title
{
	font-size: 1.2em;
}

.section_title
{
	color: rgb(0,120,185);
    background-color: rgb(220,220,220);
    height: 50px;
    line-height: 50px;
    font-size: 1.1em;
}
@media (max-width: 475px)
{
	.section_title
	{
		line-height: 25px;
	}
}

.question_blurb_container
{
	font-size: 0.8em;
	text-align: left;
	color: rgb(0,120,185);
}

.mc_grade, .grid_answer
{
	color: rgb(0,120,185);
}

.grid_column
{
	font-size: 1em;
}
@media (max-width: 700px) and (min-width: 475px)
{
	.grid_column
	{
		font-size: 0.8em;
	}
}
@media (max-width: 475px)
{
	.grid_column
	{
		font-size: 0.55em;
	}
}

#overall_score
{
	font-size: 2em;
    position: absolute;
    left: 0;
    right: 0;
    color: rgb(0,120,185);
}

#donutDiv
{
	position: relative;
	width: 100%;
	height: 25vh;
	line-height: 25vh;
}

#barDiv
{
	width: 100%;
	height: 45vh;
}

#scoreBarChart
{
	cursor: pointer;
}

#top-link-block
{
	cursor: pointer;
}
#top-link-block:hover
{
	color: rgb(0,120,185);
}
#top-link-block.affix-top
{
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    right: 10px; /* padding from the right side of the window */
}
#top-link-block.affix
{
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px; /* height of link element */
    left: 10px; /* padding from the left side of the window */
}


/* Styles used to help with formatting the scorecard for printing 
@page
{
	size: a4;
}*/
@media print
{
	body{font-size: 11px;}
	.table{margin-bottom: 0;}
	#hra_results_title{float: none;}
	.section_title{page-break-after: avoid; font-size: 1.4em; height:40px!important; background: rgb(220,220,220)!important; color: rgb(0,120,185)!important;}
	.title_text{margin-bottom: 15px; font-size: 1.3em;}
	#chart_legend:{margin-top: none;}
	.panel{page-break-inside: avoid;}
	.panel-heading, .panel-footer{background-color: #f5f5f5!important; border-color: #ddd!important;}
	panel-footer{background-color: #f5f5f5!important; border-color: #ddd!important;}
	.mc_grade, .grid_answer{color: rgb(0,120,185)!important;}
	.question_blurb_container{font-size: 1em; color: rgb(0,120,185)!important;}
	#overall_score_title{font-size: 1.5em; color: rgb(0,120,185);}
	/*.graph_title{font-size: 1.2em;}*/
	
	#overall_score{font-size: 24pt; color: rgb(0,120,185)!important; margin-top: 75px;}
	/*.hra_results_navbar{display: none;}*/
	#top-link-block{display: none;}
	.hra-submit{display: none;}
	#hra-logout{display: none;}
	#export_pdf{display: none;}
	.grid_text_question{display: none;}
	.grid_text_answer{display: none;}
	#export_pdf{display: none;}
	#user_score_key{background-color: rgb(151,187,205)!important;}
	#tc_score_key{background-color: rgb(180,180,180)!important;}
}
@page{
	margin: 0.5cm;
	@bottom-center {
		content: "Triad Care, Inc. ∙ 302 Pomona Dr. Suite L ∙ Greensboro, NC 27407 ∙ www.TriadCare.com ∙ 866-885-7931";
		padding-bottom: 5mm;
		color: rgb(0,120,185);
	}
}

