/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: rgb(51,51,51);
  text-decoration: none;
}

/* Custom default button */
.btn-default{
  text-shadow: none; /* Prevent inheritence from `body` */
  border: 1px solid rgb(0,120,185);
  background-color: rgba(0,120,185,0);
}
.btn-default:hover{
	background-color: rgb(0,120,185);
	border-color: rgb(0,120,185);
}



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);        Restyling to be more flat*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 50px;
  height: 50px;
  background-image: url("../media/triadcare_logo.png");/*("../media/TC_Web_Logo.png");*/
  background-size: contain;
}

.signup-btn{
	font-size: 14px;
	border-color: rgb(51,51,51);
	margin-top: 20px;
}
.signup-btn > a:hover{
	color: rgb(247,247,247) !important;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .signup-btn {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
}
.btn-lg:hover {
	color: rgb(247,247,247);
}
.cover-heading{
  font-family: Raleway, serif;
}
.lead{
	font-size: 16px;
}
/*Sign In Form*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  line-height: inherit;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input{
	margin-bottom: 10px;
}

.inputField{
	color: rgb(0,120,185);
	font-family: Europa, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

