{% extends "layout_template.html" %}

{% import 'macros.html' as macros %}

{% block title %}HRA{% endblock title %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="static/style/hra.css"/>
	<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock head %}

{% block header %}
	<div id="scorecard_navbar" class="container-fluid navbar-fixed-top hra_results_navbar">
		{{ super() }}
		<span id="hra_results_title">Hi {{ current_user.first_name }} {{ current_user.last_name }}, this is your dashboard.</span>
		<div class="tc-heading">
			<span class="signup-btn btn btn-sm btn-default" id="hra-logout">
				<a href="/logout">Log Out</a>
			</span>
		</div>
	</div>
{% endblock header %}
{% block messages %}{% endblock messages %}

{% block content %}
	<div class='container'>	
		<div id="nav_bar_spacer"></div>
		<div id='hra-timeline-container' class='panel panel-default'>
			<div class="panel-heading">
				<h3 class="panel-title">Trending Health Assessment Score</h3>
			</div>
			<div id='timelineDiv' class='chart-container centered'>
				<canvas id="hra-timeline-chart" width="100%" height="100%"></canvas>
			</div>
		</div>
		<div id='hra-scorecard-container' class='panel panel-default'>
			<div class="panel-heading">
				<h3 class="panel-title card-container-title">Your Health Assessments</h3>
				{# <button title='Start New Assessment'
						type='button'
						class='btn btn-default btn-xs card-scorecard-button'
						aria-label='Start New Assessment'> 
					<span class='glyphicon glyphicon-plus tc-icon' aria-hidden='true'></span> 
				</button> #}
			</div>
			<div id='scroll-container'>
				<div id='card-container'></div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
{% block script_section %}
	<script src="../static/libs/Chart.js/src/Chart.Core.js"></script>
	<script src="../static/libs/Chart.js/src/Chart.Line.js"></script>
	<script src="../static/libs/Chart.js/src/Chart.Doughnut.js"></script>
	<script src="../static/js/dashboard.js"></script>
{% endblock script_section %}