<div id="questionnaireBreakdownContainer" class="container">
	    <div class="graph_title title_text">Questionnaire Breakdown</div>
	    {% set blurb = "" %}
	    {% set headercounter = 0 %}
		{% set answer_count = results['answer_counts'] %}
	    {% for question in hra_questions %}
			{% set question_loop = loop.index - headercounter %}
			{% if question.type == "GRID" or question.type == "CHECKBOX_GRID"%}
				{% set table_width = question.answers|length %}
						<tr>
							<td class='grid_column'>{{ question.text }}</td>
							{% for i in range(0, table_width) %}
								<td class="grid_cell"><span class="grid_answer">{{ answer_count[question.qid][(i+1)|string]|default("0%") }}</span></td>
							{% endfor %}
						</tr>
				
					{% if question.last_row %}
				</table>
					</div>
						{% if blurb != "" %}
					<div class="question_blurb_container panel-footer">
						{{ blurb }}
					</div>
						{% endif %}
				</div>
					{% endif %}
			{% elif question.type == "GRID_TEXT"%}
				</table>
				<span class="grid_text_question">{{ question.text }}</span>
				<input type="textarea" class="grid_answer grid_text_answer" name="{{ question.qid }}" {# value="{{  }}" #} disabled>
				</div>
					{% if blurb != "" %}
				<div class="question_blurb_container panel-footer">
					{{ blurb }}
				</div>
					{% endif %}
			</div>
			{% else %}
			
				{% if question_loop == 3 %}
					<div id="Tobacco" class="section_title">Tobacco Section | Your Section GPA is {{ results['section_scores']['Tobacco'] }}</div>
				{% elif question_loop == 6 %}
					<div id="Diet & Nutrition" class="section_title">Diet & Nutrition Section | Your Section GPA is {{ results['section_scores']['Diet & Nutrition'] }}</div>
				{% elif question_loop == 16 %}
					<div id="Physical Activity" class="section_title">Physical Activity Section | Your Section GPA is {{ results['section_scores']['Physical Activity'] }}</div>
				{% elif question_loop == 19 %}
					<div id="Stress" class="section_title">Stress Section | Your Section GPA is {{ results['section_scores']['Stress'] }}</div>
				{% elif question_loop == 22 %}
					<div id="Medication Management" class="section_title">Medication Management Section</div>
				{% elif question_loop == 25 %}
					<div id="Preventative Care" class="section_title">Screening & Preventative Care Section | Your Section GPA is {{ results['section_scores']['Preventative Care'] }}</div>
				{% elif question_loop == 38 %}
					<div id="Chronic Conditions" class="section_title">Chronic Conditions Section</div>
				{% elif question_loop == 64 %}
					<div id="Self Analysis" class="section_title">Self-Analysis Section</div>
				{% endif %}
			
			<div class="panel panel-default {{ question_loop }}">
				{% if question.text == "Age" %}
					<div class="panel-heading question-text">{# {{ question_loop }}. #}Average Age</div>
				{% else %}
					<div class="panel-heading question-text">{# {{ question_loop }}. #}{{ question.text|safe }}</div>
				{% endif %}
				<div class="panel-body mc_answer_area">
					{% if question.type == "MULTIPLE_CHOICE" %}
						{% for answer in question.answers %}
							{# {% if answer.value != None %}
								<span class="mc_grade">{{ answer.value|first }}</span>
							{% endif %} #}
							{% set a = answer_count[question.qid][answer.aid]|default("0%") %}
							<span class="mc_grade">{{ a }}</span>
							{% if a|length == 2 %}
								<span>&nbsp;</span>
							{% endif %}
							<span>&nbsp;</span>
							<span name="{{ question.qid }}" class="mc_text">{{ answer.text|safe }}</span>
							<br>
						{% endfor %}
				</div>
						{% if question.blurb %}
				<div class="question_blurb_container panel-footer">
					{{ question.blurb }}
				</div>
						{% endif %}
			</div>
					{% elif question.type == "INTEGER" %}
						<input class="input_number mc_grade" type="number" value="{{ answer_count[question.qid]|int }}" disabled>
				</div>
						{% if question.blurb %}
				<div class="question_blurb_container panel-footer">
					{{ question.blurb }}
				</div>
						{% endif %}
			</div>
					{% elif question.type == "GRID_HEADER" %}
						{% set blurb = question.blurb %}
						{% set headercounter = headercounter + 1 %}
						{% set table_width = question.columns|length %}
						<table class="table table-bordered table-striped table-hover question_grid">
							<tr> <td></td>{# <!-- Table Header and blank first column --> #}
							{% for column in question.columns %}
							{% set column_loop = loop.index %}
							{% set a = hra_questions[question_loop+headercounter+1]['answers'][column_loop-1]['value'] %}
								<td class="grid_cell grid_column">
									{# {% if a != None %}
										<span class="grid_answer">{{ a }}</span><br>
									{% else %}
										<br>
									{% endif %} #}
									<span>{{ column }}</span>
								</td>
							{% endfor %}
							</tr>
							
					{% endif %}
			{% endif %}
		{% endfor %}
	    
    </div>