<div id='help-form-div'>
	<form id='help-form' class="form-signin" action="/get_help_form" method="post" name="help" enc-type="application/json">
        {{ form.hidden_tag() }}
        
        {% if form.name.errors %}
        	{{ form.name.errors[0] }}
        	{{ form.name(class_="error form-signin form-control inputField", placeholder="Full Name") }}
        {% else %}
        	{{ form.name(class_="form-signin form-control inputField", placeholder="Full Name") }}
        {% endif %}
        
        {% if form.email.errors %}
        	{{ form.email.errors[0] }}
        	{{ form.email(class_="error form-signin form-control inputField", placeholder="Email") }}
        {% else %}
        	{{ form.email(class_="form-signin form-control inputField", placeholder="Email") }}
        {% endif %}
        
        {% if form.dob.errors %}
        	{{ form.dob.errors[0] }}
        {% endif %}
        
		{% if form.dob_month.errors %}
			{{ form.dob_month(class_="error form-control form-dob inputField", placeholder="Birth Month") }}
		{% else %}
			{{ form.dob_month(class_="form-control form-dob inputField", placeholder="Birth Month") }}
		{% endif %}
		
		{% if form.dob_day.errors %}
			{{ form.dob_day(class_="error form-control form-dob inputField", placeholder="Birth Day") }}
		{% else %}
			{{ form.dob_day(class_="form-control form-dob inputField", placeholder="Birth Day") }}
		{% endif %}
        
        {% if form.dob_year.errors %}
        	{{ form.dob_year(class_="error form-control form-dob inputField", placeholder="Birth Year") }}
        {% else %}
        	{{ form.dob_year(class_="form-control form-dob inputField", placeholder="Birth Year") }}
        {% endif %}
        
        {% if form.company.errors %}
        	{{ form.company.errors[0] }}
        	{{ form.company(class_="error form-control form-signin inputField", placeholder="Employer") }}
        {% else %}
        	{{ form.company(class_="form-control form-signin inputField", placeholder="Employer") }}
        {% endif %}
        
        {% if form.comment.errors %}
        	{{ form.comment.errors[0] }}
        	{{ form.comment(class_="error form-control form-signin inputField", placeholder="Comment") }}
        {% else %}
        	{{ form.comment(class_="form-control form-signin inputField", placeholder="Comment") }}
        {% endif %}
        
    </form>
</div>