{% extends "layout_template.html" %}

{% import 'macros.html' as macros %}

{% block title %}HRA{% endblock title %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="../static/style/hra.css"/>
{% endblock head %}

{% block header %}
	<div id="scorecard_navbar" class="container-fluid navbar-fixed-top hra_results_navbar">
		{{ super() }}
		<span id="hra_results_title"><h3>Admin - HRA Entry</h3></span>
		{% block messages %}{{ super() }}{% endblock messages %}
		<div class="tc-heading"></div>
	</div>
{% endblock header %}


{% block content %}
	<div class="container">
		<div id="nav_bar_spacer"></div>
		<div class="form-container">
			<div id='formButtonContainer'>
				<button title='BACKSPACE' id='backButton' class='btn btn-default'>Back</button>
				<button title='ENTER' id='nextButton' class='btn btn-default'>Next</button>
			</div>
			<div id='message'>Oops! You missed this one.</div>
			<form action="/admin/hra_entry" method="post" name="hra_entry" enc-type="application/json">
				{{ form.hidden_tag() }}
				{% set panelIndex = 0 %}
				{% for question in hra_questions %}
				
					{% if question.type == "GRID" or question.type == "CHECKBOX_GRID"%}
						{% set table_width = question.answers|length %}
						{% if question.type == "GRID" %}
							{% set inputType = "type=radio" %}
						{% else %}
							{% set inputType = "type=checkbox" %}
						{% endif %}
						<tr>
							<td class='grid_column'>{{ question.text }}</td>
							{% for i in range(0, table_width) %}
								<td class="grid_cell"><input {{ inputType }} class="grid_radio" name="{{ question.qid }}" value="{{ question.answers[i].aid }}"></td>
							{% endfor %}
						</tr>
							{% if question.last_row %}
						</table></div></div>
							{% endif %}
					
					{% elif question.type == "GRID_TEXT"%}
						</table>
						<span>{{ question.text }}</span>&nbsp
						<input type="textarea" class="grid_text" name="{{ question.qid }}">
						</div></div>
					{% else %}
						
						<div class="panel panel-default" data-panel-index='{{ panelIndex }}'>
							{% set panelIndex = panelIndex + 1 %}
							<div class="panel-heading question-text">{{ question.text|safe }}</div>
							<div class="panel-body mc_answer_area">
								
								{% if question.type == "MULTIPLE_CHOICE" %}
								
									{% for answer in question.answers %}
										<input type="radio" name="{{ question.qid }}" class="mc_radio" title='{{ answer.aid }}' value="{{ answer.aid }}">
										<span class="mc_text">{{ answer.text|safe }}</span>
										<br>
									{% endfor %}
									
								{% elif question.type == "INTEGER" %}
									<input class="input_number" type="number" name="{{ question.qid }}" min="0" max="120" {{ autofocus }}>
								{% elif question.type == "GRID_HEADER" %}
									{% set table_width = question.columns|length %}
									<table class="table table-bordered table-striped table-hover question_grid">
										<tr> <td></td>
										{% for column in question.columns %}
											<td class="grid_cell grid_column">{{ column }}</td>
										{% endfor %}
										</tr>
										
								{% endif %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
				<div class="panel panel-default">
					<div class='finalPanelDiv'>
						<span id='tcid_input_label'>TCID</span>
						<input id='tcid_input' type='text' name='tcid' describedby='tcid_input_label' />
					</div>
					<div class='finalPanelDiv'>
						<button id='submitButton' type="submit" class="btn btn-lg btn-default hra-submit" disabled>Submit</button>
					</div>
				</div>
			</form>
		</div>
    </div>
	
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block script_section %}
	<script src="../static/js/hra_entry.js"></script>
{% endblock script_section %}
