{% extends "layout_template.html" %}

{% block title %}Dashboard{% endblock title %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="static/style/patient_dashboard.css"/>
{% endblock head %}

{% block header %}User Dashboard{% endblock header %}

{% block content %}
<span class="signup-btn btn btn-sm btn-default"><a href="/logout">Log Out</a></span>
<span> {{ current_user.display_name }}
	<table class="table">
		{% for item in userDict %}
			<tr>
				<td>{{ item }}</td><td>{{ userDict[item] }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock content %}

{% block footer %}{{ super() }}{% endblock footer %}