{% extends "layout_template.html" %}

{% import 'macros.html' as macros %}

{% block title %}Registration{% endblock title %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="static/style/user_login_style.css"/>
{% endblock head %}

{% block header %}{% endblock header %}
{% block messages %}{{ super() }}{% endblock messages %}

{% block content %}

	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <div  class="masthead-brand"></div>
              <span class="signup-btn btn btn-sm btn-default"><a href="/login">Log In</a></span>
              <!-- Button trigger modal -->
			  <button type="button" class="signup-btn btn btn-sm btn-default" data-toggle="modal" data-target="#myModal">
			    Get Help
			  </button>
            </div>
          </div>

          <div class="inner cover">
            <form class="form-signin" action="/registration" method="post" name="register">
	            {{ form.hidden_tag() }}
	            
	            {% if form.tcid.errors %}
	            	{{ form.tcid(class_="error form-signin form-control inputField", placeholder="TCID") }}
	            {% else %}
	            	{{ form.tcid(class_="form-signin form-control inputField", placeholder="TCID") }}
	            {% endif %}
		        
		        {% if form.first_name.errors %}
		        	{{ form.first_name(class_="error form-user_name form-control inputField", placeholder="First Name") }}
		        {% else %}
		        	{{ form.first_name(class_="form-user_name form-control inputField", placeholder="First Name") }}
		        {% endif %}
		        
		        {% if form.last_name.errors %}
		        	{{ form.last_name(class_="error form-user_name form-control inputField", placeholder="Last Name") }}
		        {% else %}
		        	{{ form.last_name(class_="form-user_name form-control inputField", placeholder="Last Name") }}
		        {% endif %}
		        
		        {% if form.email.errors %}
		        	{{ form.email(class_="error form-signin form-control inputField", placeholder="Email") }}
		        {% else %}
		        	{{ form.email(class_="form-signin form-control inputField", placeholder="Email") }}
		        {% endif %}
		        
				{% if form.dob_month.errors %}
					{{ form.dob_month(class_="error form-control form-dob inputField", placeholder="Birth Month") }}
				{% else %}
					{{ form.dob_month(class_="form-control form-dob inputField", placeholder="Birth Month") }}
				{% endif %}

				{% if form.dob_day.errors %}
					{{ form.dob_day(class_="error form-control form-dob inputField", placeholder="Birth Day") }}
				{% else %}
					{{ form.dob_day(class_="form-control form-dob inputField", placeholder="Birth Day") }}
				{% endif %}
		        
		        {% if form.dob_year.errors %}
		        	{{ form.dob_year(class_="error form-control form-dob inputField", placeholder="Birth Year") }}
		        {% else %}
		        	{{ form.dob_year(class_="form-control form-dob inputField", placeholder="Birth Year") }}
		        {% endif %}
		        
		        {% if form.password.errors %}
		        	{{ form.password(class_="error form-signin form-control inputField", placeholder="Password", type="password", **{'data-toggle':"popover", 'data-placement':"right", 'data-content':"Your password must contain at least 8 characters, one upper-case character, one lower-case character, and one special character (!, $, &, etc).", 'data-trigger':"focus"}) }}
		        {% else %}
		        	{{ form.password(class_="form-signin form-control inputField", placeholder="Password", type="password", **{'data-toggle':"popover", 'data-placement':"right", 'data-content':"Your password must contain at least 8 characters, one upper-case character, one lower-case character, and one special character (!, $, &, etc).", 'data-trigger':"focus"}) }}
		        {% endif %}
		        
		        {% if form.confirm_password.errors %}
		        	{{ form.confirm_password(class_="error form-signin form-control inputField", placeholder="Confirm Password", type="password", **{'data-toggle':"popover", 'data-placement':"right", 'data-content':"Must match Password", 'data-trigger':"focus"}) }}
		        {% else %}
		        	{{ form.confirm_password(class_="form-signin form-control inputField", placeholder="Confirm Password", type="password", **{'data-toggle':"popover", 'data-placement':"right", 'data-content':"Must match Password", 'data-trigger':"focus"}) }}
		        {% endif %}
		  		        
		        <p class="lead">
					<input type="submit" class="btn btn-lg btn-default" value="Register">
            	</p>
		    </form>
            <p class="lead"></p>
            
          </div>

        </div>

      </div>

    </div>
    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Help Form</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button id='modalCloseButton' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" onclick="submitHelpForm()">Submit</button>
      </div>
    </div>
  </div>
</div>
	
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block script_section %}
	{{ super() }}
	<script src="../static/js/user_registration.js"></script>
	<script src="../static/js/get_help.js"></script>
{% endblock script_section %}
