{% extends "layout_template.html" %}

{% import 'macros.html' as macros %}

{% block title %}Forgot Password{% endblock title %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('.static', filename='css/user_login_style.css') }}"/>
{% endblock head %}

{% block header %}{% endblock header %}
{% block messages %}{{ super() }}{% endblock messages %}

{% block content %}

	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <div  class="masthead-brand"></div>
			  <span class="signup-btn btn btn-sm btn-default"><a href="/login">Cancel</a></span>
            </div>
          </div>

          <div class="inner cover">
            <form class="form-signin" action="" method="post" name="forgot_password">
	            {{ form.hidden_tag() }}
		        <label for="email" class="sr-only">Email</label>
		        {{ form.email(class_="form-signin form-control inputField", placeholder="Email") }}
		        {% for error in form.email.errors %}
		        	<span style="color: red;">[{{ error }}]</span>
		        {% endfor %}
		        <p class="lead">
					<input type="submit" class="btn btn-lg btn-default" value="Reset Password">
            	</p>
		    </form>
            
          </div>

        </div>

      </div>

    </div>
	
{% endblock content %}

{% block footer %}{% endblock footer %}