{% extends "layout_template.html" %}

{% import 'macros.html' as macros %}

{% block title %}Set New Password{% endblock title %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('.static', filename='css/user_login_style.css') }}"/>
{% endblock head %}

{% block header %}{% endblock header %}
{% block messages %}{{ super() }}{% endblock messages %}

{% block content %}

	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <div  class="masthead-brand"></div>
			  <span class="signup-btn btn btn-sm btn-default"><a href="/login">Cancel</a></span>
            </div>
          </div>

          <div class="inner cover">
            <form class="form-signin" action="" method="post" name="set_password">
	            {{ form.hidden_tag() }}
		        <label for="password" class="sr-only">Password</label>
		        {{ form.password(class_="form-signin form-control inputField", placeholder="Password", type="password", **{'data-toggle':"popover", 'data-placement':"right", 'data-content':"Your password must contain at least 8 characters, one upper-case character, one lower-case character, and one special character (!, $, &, etc).", 'data-trigger':"focus"}) }}
		        {% for error in form.password.errors %}
		        	<span style="color: red;">[{{ error }}]</span>
		        {% endfor %}
		        <label for="confirm_password" class="sr-only">Confirm Password</label>
		        {{ form.confirm_password(class_="form-signin form-control inputField", placeholder="Confirm Password", type="password", **{'data-toggle':"popover", 'data-placement':"right", 'data-content':"Must match Password", 'data-trigger':"focus"}) }}
		        {% for error in form.confirm_password.errors %}
		        	<span style="color: red;">[{{ error }}]</span>
		        {% endfor %}
		        <p class="lead">
					<input type="submit" class="btn btn-lg btn-default" value="Set New Password">
            	</p>
		    </form>
            
          </div>

        </div>

      </div>

    </div>
	
{% endblock content %}

{% block footer %}{% endblock footer %}
{% block script_section %}
	<script src="{{ url_for('.static', filename='js/user_registration.js') }}"></script>
{% endblock script_section %}