<div style="text-align:center;">
  <a href="https://my.triadcare.com">
    <img
    src="{{ asset_url_for('media/TC_Web_Logo.png') }}"
    alt="Triad Care, Inc."
    >
  </a>
</div>
<div style="margin:20px;">
  <br/>
  </p>Hello {{ user_name }},</p>
  <br/>
  <p>We heard you need to set a new password.</p>
  <p>Click the link below and we'll help you out.</p>
  <p><a href='{{ url }}'>Set a New Password</a></p>
  <p>If you did not request a Password Reset, please disregard this email.
    <br/>
    I want to remind you that
    <b>we will never ask for your password for any reason.</b>
  </p>
  <br/>
  <p>Sincerely,<br/>
  Triad Care, Inc.</p>
  <br/>
  As always, if you need any assistance, give us a call at 866-885-7931.
</div>
