.surveyComponent {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.response__viewer {
  flex: 1;
}

.survey__viewer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.response__overall {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 30vh;
}

.response__section-breakdown {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 45vh;
  margin-top: 15px;
}

.response__overall-date {
  flex: none;
}
.response__overall-label {
  font-size: 1.2em;
  flex: none;
}

.response__chart {
  flex: 1;
}

.response__chart-bar .ct-bar {
  stroke-width: 35px;
}
.ct-label.response__chart-label {
  font-size: 0.75em;
}
@media (max-width: 450px)
{
  .response__chart-bar .ct-bar {
    stroke-width: 20px;
  }
  .ct-label.response__chart-label {
    font-size: 0.65em;
  }
}

.response__chart-bar .ct-series-a .ct-bar {
  stroke: rgb(0,120,185);
}

.response__chart-bar .ct-series-b .ct-bar {
  stroke: rgb(180,180,180);
}

.chart-bar {
  cursor: pointer;
}

.response__section-breakdown-label,
.response__questionnaire-breakdown-label {
  font-size: 1.2em;
  text-align: center;
}

.response__questionnaire-breakdown {
  margin-top: 15px;
}

.response__chart-bar-key {
  flex: none;
}

.key__item {
  margin-right: 15px;
}

.key__item:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.key__item-blue:before {
  background: rgb(0,120,185);
}

.key__item-gray:before {
  background: rgb(180,180,180);
}

.section-active,
.section__label-active {
  display: block;
}
.section-inactive,
.section__label-inactive {
  display: none;
}

/*.question-active {
  box-shadow: 0 0 5px rgb(0,120,185);
  border: 1px solid rgb(0,120,185);

  transition: border-color 3s ease-in-out;
}*/

.questionnaire {
  overflow-y: auto;
  flex: 1;
  border: 1px solid #ddd;
  min-height: 400px;
}

.q-error {
  box-shadow: 0 0 5px #DB3737;
  border: 1px solid #DB3737;
}
tr.q-error {
  border: 2px solid #DB3737;
}

.questionnaire-footer {
  flex: none;
  background-color: rgb(220,220,220);
  height: 50px;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section__container {
  height: 100%;
  width:100%;
}

.response__section {
  overflow-y: auto;
  height: calc(100% - 55px);
  width:100%;
  padding: 10px;
}

.response__section-label {
  color: rgb(0,120,185);
  background-color: rgb(220,220,220);
  height: 50px;
  line-height: 50px;
  font-size: 1.1em;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 650px)
{
  .section__label-text
	{
		line-height: 20px;
	}
}
@media (max-width: 475px)
{
  .response__section-label
	{
		font-size: 0.8em;
	}
}

.section__label-error {
  color: #DB3737;
  justify-content: center;
}

.section__label-item {
  flex: 1;
  cursor: default;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section__label-count {
  font-size: 0.8em;
  text-align: left;
  padding-left: 15px;
}

.section__button-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex: 1;
}

.section__button {
  height: 25px;
}

.submit__button.section__button {
  box-shadow: 0 0 5px #15B371;
  border: 1px solid #15B371;
}

.section__button-save {
  padding-right: 15px;
  justify-content: flex-end;
}
.section__button-back {
  padding-left: 15px;
  justify-content: flex-start;
}
.section__button-next {
  padding-right: 15px;
  justify-content: flex-end;
}

.response__question-grid {
  text-align: center;
}

.grid__row-header {
  text-align: left;
}

.response__question-grid .grid__cell {
  vertical-align: middle;
}

.grid__cell-answer {
  display: inline;
  padding-left: 16px;
}

.grid__column-header,
.grid__row-header
{
	font-size: 1em;
}
@media (max-width: 700px) and (min-width: 475px)
{
  .grid__column-header,
  .grid__row-header
	{
		font-size: 0.8em;
	}
}
@media (max-width: 475px)
{
  .grid__column-header,
  .grid__row-header
	{
		font-size: 0.55em;
	}
}

.specify-label {
  font-weight: inherit;
}

.response__question-answer {
  font-size: 0.85em;
}

.response__question-answer-multichoice {
  margin: 0;
  font-weight: inherit;
}

.response__question-blurb {
  font-size: 0.8em;
  text-align: left;
  color: rgb(0,120,185);
}

.button-print {
  position: absolute;
  right: 20px;
}
