/*
 * Base structure
 */

html,
body {
  width :100%;
  height: 100%;
  background-color: rgb(247,247,247);
}
body {
  color: rgb(51,51,51);
  -webkit-font-smoothing: antialiased;
  font-family: Europa, sans-serif;
  font-size: 16px;
}
a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
}

.baseLayout {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mainContainer {
  display: flex;
  flex-flow: row wrap;
  flex: auto;
  margin-top: 50px;
}

.loginForm__dialog {
  width: 90vw;
  max-width: 500px;
}

.spaceExplorer {
  /* subtract the text-size, the padding, and the border size from the total height */
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 auto;
  background-color: rgb(247,247,247);
  border-right: 4px solid rgb(255,255,255);
  border-right: 4px solid rgba(255,255,255,0.8);
}

.appletContainer {
  flex: auto;
  display: flex;
}

.spaceComponent{
  flex: auto;
  display: flex;
  overflow-y: auto;
}

/*
 * Footer
 */

.footer {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .header{
      position: fixed;
      top: 0;
  }
  .footer {
      position: fixed;
      bottom: 0;
  }

  /* Handle the widths */
  .header,
  .footer {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .header,
  .footer {
    width: 700px;
  }
}
