/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: rgb(247,247,247);
}
body {
  color: rgb(51,51,51);
  -webkit-font-smoothing: antialiased;
  font-family: Europa, sans-serif;
  font-size: 16px;
  text-align: center;
}

#content{
	width: 100%;
	height: 100%;
}

.tc-brand
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 50px;
	height: 50px;
	background-image: url("~!file!media/triadcare_logo.png");/*("../media/TC_Web_Logo.png");*/
	background-size: contain;
	display: inline-block;
	float: left;
}
.tc-heading
{
	display: inline-block
}
/*
 * Footer
 */

.footer {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
.header{
    position: fixed;
    top: 0;
}
.footer {
    position: fixed;
    bottom: 0;
}

  /* Handle the widths */
  .header,
  .footer {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .header,
  .footer {
    width: 700px;
  }
}
